= content_for :title, "New News"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'News', administration_news_index_path
  - navigation_add 'New', new_administration_news_path
  = render_navigation

%section.content
  .row
    .col-md-6
      .box.box-solid
        .box-body= render 'form'
