= content_for :title, "New Advertisment"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'Advertisments', administration_advertisments_path
  - navigation_add 'New', new_administration_advertisment_path
  = render_navigation

%section.content
  .row
    .col-md-6
      .box.box-solid
        .box-body= render 'form'
