= content_for :title, "Dashboard"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'Dashboard', root_path
  = render_navigation

%section.content
  .box.box-solid
    .box-header.with-border
      %h2 Hello
    .box-body Some word
