.wrapper
  %header.main-header
    %a.logo{:href => "/administration"}
      %b Administration
    %nav.navbar.navbar-static-top{:role => "navigation"}
      %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
        %span.sr-only Toggle navigation
  %aside.main-sidebar
    %section.sidebar
      %ul.sidebar-menu
        %li.header MENU
        %li{:class => active_menu('dasboard') }
          %a{:href => administration_root_path }
            %span Dashboard
        %li{:class => active_menu('categories') }
          %a{:href => administration_categories_path}
            %span Categories
        %li{:class => active_menu('advertisments') }
          %a{:href => administration_advertisments_path}
            %span Advertisments
        %li{:class => active_menu('news') }
          %a{:href => administration_news_index_path}
            %span News
