<header class="main-header">
    <div class="main-header_top-row">
        <div class="wrapper main-header_top-row_wrapper">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="contact-item main-header_phone-item main-header_phone-text">Цілодобово:</div>
                    <a class="main-header_phone-item main-header_phone-link" href="tel:121356"><span class="main-header_phone-link_code">0 (800)</span> 300-24-12</a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a class="contact-item contact-mail contact-mail--header" href="mailto:email@example.com">Написати нам</a>
                    <ul class="main-header_lang-list">
                        <li class="main-header_lang-list_item">
                            <a class="main-header_lang-list_item_link main-header_lang-list_item_link--active" href="#">Укр <span class="triangle"></span></a>
                        </li>
                        <li class="main-header_lang-list_item"><a class="main-header_lang-list_item_link" href="#">Рус</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-header_bottom-row">
        <div class="row">
            <div class="wrapper">
                <div class="col-md-3">
                    <a href="/" class="main-header_logo">
                        <img class="main-header_logo_img" src="images/logo.png" height="68" width="49" alt="Made in Ukraine">
                        <h1 class="main-header_logo_text">Made in Ukraine</h1>
                    </a>
                </div>
                <div class="col-md-6">
                    <nav class="nav nav--header" role="navigation">
                        <ul class="nav_list nav_list--header">
                            <li class="nav_list_item"><a href="#" data-dropdown="#dropdown-1" class="nav_list_item_link nav_list_item_link--header">
                                Каталог <span class="triangle"></span></a>
                                <ul>
                                    <li><a href="#1">Item 1</a></li>
                                    <li><a href="#2">Item 2</a></li>
                                    <li><a href="#3">Item 3</a></li>
                                    <li><a href="#4">Item 4</a></li>
                                    <li><a href="#5">Item 5</a></li>
                                    <li><a href="#5">Item 6</a></li>
                                </ul>
                            </li>
                            <li class="nav_list_item"><a href="#" class="nav_list_item_link nav_list_item_link--header">Новини</a></li>
                            <li class="nav_list_item"><a href="#" class="nav_list_item_link nav_list_item_link--header">Блог</a></li>
                            <li class="nav_list_item"><a href="#" class="nav_list_item_link nav_list_item_link--header">Про проект</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3">
                    <form class="main-header_search">
                        <label class="sr-text">Пошук</label>
                        <input type="text" name="search" class="main-header_search_input">
                        <input type="submit" class="main-header_search_submit" value="">
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
