= content_for :title, "Edit Product"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'Products', administration_products_path
  - navigation_add 'Edit', edit_administration_product_path(@product)
  = render_navigation

%section.content
  .row
    .col-md-6
      .box.box-solid
        .box-body= render 'form'
