.error-404
  = image_tag '404.png', height:574, class: 'error-404_img'
  .error-404_title Цієї сторінки не існує!
  %div Перейти до головної сторінки
  %a.error-404_link{:href => "/"} http://oursite.com
