= content_for :title, "Edit Category"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'Categories', administration_categories_path
  - navigation_add 'Edit', edit_administration_category_path(@category)
  = render_navigation

%section.content
  .row
    .col-md-6
      .box.box-solid
        .box-body= render 'form'
