= content_for :title, "New Category"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'Categories', administration_categories_path
  - navigation_add 'New', new_administration_category_path
  = render_navigation

%section.content
  .row
    .col-md-6
      .box.box-solid
        .box-body= render 'form'
