%section.buy-ukr
  .wrapper
    .buy-ukr_content
      %h2.block-title.buy-ukr_content_title Купуй Українське
      %h3.buy-ukr_content_title-descr інтернет-каталог українських виробників
      %hr.buy-ukr_line/
      .buy-ukr_text-item
        Наразі купувати українські продукти та речі не тільки вигідно, а є вже правилом гарного тону. Українські виробники виробляють майже все: від колготок до танків, від іграшок  до спортивного інвентарю.
      .square.square--big.square--buy-ukr.square--buy-ukr-1
      .square.square--big.square--buy-ukr.square--buy-ukr-2
      .square.square--small.square--buy-ukr.square--buy-ukr-3
      .square.square--small.square--buy-ukr.square--buy-ukr-4
.content
  .wrapper
    .content_wrapper
      %article.col-lg-4.col-sm-6
        %a.content_item{:href => "#"}
          %img.content_item_text-white_img{:alt => "", :height => "421", :src => "images/content/1.jpg", :width => "351"}/
          %h4.content_item_text-white
            %span.content_item_text-white_line Нова колекція одягу від
            %span.content_item_text-white_line українського бренду
            %span.content_item_text-white_line.content_item_text-white_brand Balcony garment
      %article.col-lg-4.col-sm-6
        .content_item
          %img.content_item--block-text_img{:alt => "", :height => "65", :src => "images/content/2.png", :width => "76"}/
          %h4.content_item--block-text_title Де купити?
          %hr.content_item_line/
          .content_item--block-text_descr На сайті ви заможете знайти адресу, де можна купити будь-який товар, що Вам сподобався
      %article.col-lg-4.col-sm-6
        %a.content_item.content_item--link-white{:href => "#"}
          %img.content_item--link-white_img{:alt => "", :height => "229", :src => "images/content/3.jpg", :width => "179"}/
          %h4.content_item--link-white_title Візьми з собою все
          %hr.content_item_line.content_item_line--link-white/
          .content_item--link-white_descr
            Молодіжні рюкзаки від бренду
            %strong Derby
      %article.col-lg-4.col-sm-6
        .content_item
          %img.content_item--block-text_img{:alt => "", :height => "71", :src => "images/content/4.png", :width => "79"}/
          %h4.content_item--block-text_title Яка вартість?
          %hr.content_item_line.content_item_line--blue/
          .content_item--block-text_descr Непоступаючись якістю, українські товари мають дуже приємну вартість
      %article.col-lg-4.col-sm-6
        %a.content_item{:href => "#"}
          %img.content_item_text-white_img{:alt => "", :height => "421", :src => "images/content/5.jpg", :width => "351"}/
          %h4.content_item_text.content_item_text-white
            %span.content_item_text-white_line Нова колекція ювелірних
            %span.content_item_text-white_line виробів від
            %span.content_item_text-white_line.content_item_text-white_brand Talia Jewellery
      %article.col-lg-4.col-sm-6
        .content_item
          %img.content_item--block-text_img.content_item--block-text_img--s1{:alt => "", :height => "81", :src => "images/content/6.png", :width => "85"}/
          %h4.content_item--block-text_title А як щодо якості?
          %hr.content_item_line.content_item_line--block-text--s1.content_item_line--yellow/
          .content_item--block-text_descr Українські товари нічим не поступаються у якості перед своїми закордонними аналогами.
      %article.col-lg-4.col-sm-6
        %a.content_item{:href => "#"}
          %img.content_item_text-white_img{:alt => "", :height => "421", :src => "images/content/7.jpg", :width => "351"}/
          %h4.content_item_text-white.content_item_text-white--s1
            %span.content_item_text-white_line Нові надходження взуття
            %span.content_item_text-white_line.content_item_text-white_brand Kachorovska atelier
      %article.col-lg-4.col-sm-6
        %a.content_item.content_item--link-white{:href => "#"}
          %img.content_item--link-white_img.content_item--link-white_img--s1{:alt => "", :height => "250", :src => "images/content/8.jpg", :width => "247"}/
          %h4.content_item--link-white_title Красу не затьмарити
          %hr.content_item_line.content_item_line--link-white/
          .content_item--link-white_descr
            Мінеральна пудра від бренду
            %strong MYRIAMD
      %article.col-lg-4.col-sm-6
        %a.content_item{:href => "#"}
          %img.content_item_text-white_img{:alt => "", :height => "421", :src => "images/content/9.jpg", :width => "351"}/
          %h4.content_item_text-white
            %span.content_item_text-white_line.content_item_text-white_brand Бабині кози
            %span.content_item_text-white_line Натуральна молочна
            %span.content_item_text-white_line продукція
%section.block-white.news
  .wrapper
    .news_wrapper
      .row
        .block-title
          .square.square--xs.square--block-white
          Новини
          .square.square--xs.square--block-white
      .row
        .col-lg-6
          %article.col-md-6
            .news_item
              %h3.news_item_title Українські товари для європейських магазинів
              .news_item_descr З сьогоднішнього дня набирає чинності рішення Ради Європейського Союзу про одностороннього скасування мита на українські товари. Ці преференції будуть діяти тимчасово, до 1 листопада.
          %article.col-md-6
            .news_item
              %h3.news_item_title Нова колекція одягу українського бренду
              .news_item_descr Пишні букети розпустилися на показі Андре Тана, прикрасивши подіум, а акуратні бутони - архітектурно скроєні жакети і жіночні сукні завдовжки трохи нижче колін. Цього разу дизайнер запросив гостей на квітковий ринок, присвятивши колекцію жінки-квітки.
        .col-lg-6
          .news_right-cell
            %article.col-md-6
              .news_item
                %h3.news_item_title Україна розпочала випуск нової марки мобільних телефонів
                .news_item_descr Мобільний телефон призначений для тих, хто купує свій перший мобільний телефон для зв'язку і веб-серфінгу, а також використання різних цифрових сервісів.
            %article.col-md-6
              .news_item
                %h3.news_item_title Українські товари для європейських магазинів
                .news_item_descr З сьогоднішнього дня набирає чинності рішення Ради Європейського Союзу про одностороннього скасування мита на українські товари. Ці преференції будуть діяти тимчасово, до 1 листопада.
.subscription
  .wrapper
    .block-title.block-title--subscription Оформити підписку на новини
    %hr.subscription_line/
    .subscription_title-descr Дізнавайтеся першими про нові товари українського виробника
    %form.subscription_form{:action => "#"}
      .subscription_form_item.subscription_form_item--input
        %input.subscription_form_control.subscription_form_input{:placeholder => "Ваше ім'я", :type => "text"}/
      .subscription_form_item.subscription_form_item--input
        %input.subscription_form_control.subscription_form_input{:placeholder => "E-mail", :type => "text"}/
      .subscription_form_item.subscription_form_item--submit
        %input.subscription_form_control.subscription_form_submit{:type => "submit", :value => "Підписатися"}/
.block-white.social
  .wrapper
    .news_wrapper
      .row
        .social_title.block-title
          .square.square--xs.square--block-white
          Ми в соцмережах
          .square.square--xs.square--block-white
      .row
        .wrapper
          .col-lg-3.col-md-4.col-sm-6
            .social_item
              .row
                .social_item_cell.social_item_name Facebook
                .social_item_cell
                  %a.share_item.share_btn.share_btn--index.share--fb.share_btn-fb--index{:href => "#", :role => "button"}
                    %i.social-icon.social-icon--fb.share-i-fb--index
                    %span.share-text-fb--index Like
                  .share_item.share_count.share_count--index 1k
              .social_item_text-descr
                %strong 1054
                people like
                %strong Made in Ukraine
          .col-lg-3.col-md-4.col-sm-6
            .social_item
              .row
                .social_item_cell.social_item_name.social_item_name--vk Вконтакте
                .social_item_cell
                  %a.share_item.share_btn.share_btn--index.share--vk.share_btn-vk--index{:href => "#", :role => "button"}
                    %i.social-icon.social-icon--vk.share-i-vk--index
                    %i.social-icon.social-icon--like
                .share_item.share_count.share_count--index 458
              .social_item_text-descr
                Підписано
                %strong 34 569
                чоловік
          .col-lg-3.col-md-4.col-sm-6
            .social_item.social_item--tw
              .row
                .social_item_cell.social_item_name.social_item_name--tw Twitter
                .social_item_cell
                  %a.share_item.share_btn.share_btn--index.share--tw.share_btn-tw--index{:href => "#", :role => "button"}
                    %i.social-icon.social-icon--tw.share-i-tw--index
                    %span.share-text-tw--index Tweet
                .share_item.share_count.share_count--index 458
              .social_item_text-descr
                %strong 34 569
                follow us
          .col-lg-3.col-md-4.col-sm-6
            .social_item.social_item--insta
              .row
                .social_item_cell.social_item_name.social_item_name--insta Instagram
                .social_item_cell
                  %a.share_item.share_btn.share_btn--index.share--insta.share_btn-insta--index{:href => "#", :role => "button"}
                    %i.social-icon.social-icon--insta
                .share_item.share_count.share_count--index 458
              .social_item_text-descr
                %strong 745
                follow us
