%section.buy-ukr
  .wrapper
    .buy-ukr_content
      %h2.block-title.buy-ukr_content_title Купуй Українське
      %h3.buy-ukr_content_title-descr інтернет-каталог українських виробників
      %hr.buy-ukr_line/
      .buy-ukr_text-item
        Наразі купувати українські продукти та речі не тільки вигідно, а є вже правилом гарного тону. Українські виробники виробляють майже все: від колготок до танків, від іграшок  до спортивного інвентарю.
      .square.square--big.square--buy-ukr.square--buy-ukr-1
      .square.square--big.square--buy-ukr.square--buy-ukr-2
      .square.square--small.square--buy-ukr.square--buy-ukr-3
      .square.square--small.square--buy-ukr.square--buy-ukr-4
.content
  .wrapper
    .content_wrapper
      - @advertisments.each do |advertisment|
        = render partial: 'shared/advertisment', locals: {advertisment: advertisment}
%section.block-white.news
  .wrapper
    .news_wrapper
      .row
        .block-title
          .square.square--xs.square--block-white
          Новини
          .square.square--xs.square--block-white
      .row
        .col-lg-12
          - @news.each do |news|
            %article.col-md-3
              .news_item
                %h3.news_item_title= link_to news.title, news_path(news), :style => 'color: #000'
                .news_item_descr= truncate(sanitize(news.body, :tags => %w(br a)), :length => 250)
.subscription
  .wrapper
    .block-title.block-title--subscription Оформити підписку на новини
    %hr.subscription_line/
    .subscription_title-descr Дізнавайтеся першими про нові товари українського виробника
    %form.subscription_form{:action => "#"}
      .subscription_form_item.subscription_form_item--input
        %input.subscription_form_control.subscription_form_input{:placeholder => "Ваше ім'я", :type => "text"}/
      .subscription_form_item.subscription_form_item--input
        %input.subscription_form_control.subscription_form_input{:placeholder => "E-mail", :type => "text"}/
      .subscription_form_item.subscription_form_item--submit
        %input.subscription_form_control.subscription_form_submit{:type => "submit", :value => "Підписатися"}/
.block-white.social
  .wrapper
    .news_wrapper
      .row
        .social_title.block-title
          .square.square--xs.square--block-white
          Ми в соцмережах
          .square.square--xs.square--block-white
      .row
        .wrapper
          .col-lg-3.col-md-4.col-sm-6
            .social_item
              .row
                .social_item_cell.social_item_name Facebook
                .social_item_cell
                  %a.share_item.share_btn.share_btn--index.share--fb.share_btn-fb--index{:href => "#", :role => "button"}
                    %i.social-icon.social-icon--fb.share-i-fb--index
                    %span.share-text-fb--index Like
                  .share_item.share_count.share_count--index 1k
              .social_item_text-descr
                %strong 1054
                people like
                %strong Made in Ukraine
          .col-lg-3.col-md-4.col-sm-6
            .social_item
              .row
                .social_item_cell.social_item_name.social_item_name--vk Вконтакте
                .social_item_cell
                  %a.share_item.share_btn.share_btn--index.share--vk.share_btn-vk--index{:href => "#", :role => "button"}
                    %i.social-icon.social-icon--vk.share-i-vk--index
                    %i.social-icon.social-icon--like
                .share_item.share_count.share_count--index 458
              .social_item_text-descr
                Підписано
                %strong 34 569
                чоловік
          .col-lg-3.col-md-4.col-sm-6
            .social_item.social_item--tw
              .row
                .social_item_cell.social_item_name.social_item_name--tw Twitter
                .social_item_cell
                  %a.share_item.share_btn.share_btn--index.share--tw.share_btn-tw--index{:href => "#", :role => "button"}
                    %i.social-icon.social-icon--tw.share-i-tw--index
                    %span.share-text-tw--index Tweet
                .share_item.share_count.share_count--index 458
              .social_item_text-descr
                %strong 34 569
                follow us
          .col-lg-3.col-md-4.col-sm-6
            .social_item.social_item--insta
              .row
                .social_item_cell.social_item_name.social_item_name--insta Instagram
                .social_item_cell
                  %a.share_item.share_btn.share_btn--index.share--insta.share_btn-insta--index{:href => "#", :role => "button"}
                    %i.social-icon.social-icon--insta
                .share_item.share_count.share_count--index 458
              .social_item_text-descr
                %strong 745
                follow us
